.blog-lists {
  .header {
    h2 {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $primary-color-3;
    }

    a {
      float: right;
      margin-top: 20px;
    }
  }
}

.add {
  h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $primary-color-3;
  }

  .mark-down-content {
    h3 {
      letter-spacing: 1px;
    }

    h4 {
      letter-spacing: 1px;
      font-style: italic;
    }
    .content {
      margin-top: 0;
      padding: 10px;
    }
  }
}
