//Color palettes
$valencia-red: #D64541;
$cinnabar-red: #E74C3C;
$flamingo-red: #EF4836;
$sunset-orange: #F64747;
$honey-flower-purple: #674172;
$san-marino-blue: #446CB3;
$shakesphere-blue: #52B3D9;
$madison-blue: #2C3E50;
$light-green: #68C3A3;
$dark-green: #1E824C;
$yellow: #F4D03F;
$light-orange: #E87E04;
$orange: #F9690E;
$gray: #EEEEEE;
$main-gray: #F2F1EF;
$dark-gray: #6C7A89;
$white: #fff;
$black: #000;

//primary colors
$primary-color-1: $valencia-red;
$primary-color-2: $sunset-orange;
$primary-color-3: $shakesphere-blue;
$primary-color-4: $dark-green;
$primary-color-5: $dark-gray;
$primary-color-6: $white;
$primary-color-7: $black;

//background colors
$background-color-1: rgba(238, 238, 238, 0.5);
$background-color-2: rgba(44, 62, 80, 0.8);
$background-color-3: rgba($main-gray, 0.7);
$background-color-4: rgba($dark-gray, 0.2);

//social media icon colors
$linkedin: #4875B4;
$twitter: #33CCFF;
$github: $black
